* {
    margin: 0%;
}
.contagem {
    display: flex;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(aba.jpg);
    border-radius: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
}
body {
    background-image: linear-gradient(to bottom, red, blue);
}
p {
    background-color: black;
    padding: 27px;
    font-size: 200%;
    color: white;
    margin: 20px;
    border-radius: 30px;
}
